.abilities-info {
  float: left;
  width: 33%;
}

.standard-info {
  float: left;
  width: 33%;
}

.moves-info {
  float: left;
  width: 33%;
}

.jumbotron {
  height: 320px;
}

.display-4 {
  padding-bottom: 50px;
  text-align: center;
}
