<div class="container" *ngIf="pokemon$ | async as pokemon">
  <h1 class="display-4">
    {{ pokemon.name }}
    <img width="100px" src="{{ pokemon.sprites.front_default }} " />
    <br />
    Types:
    <strong *ngFor="let type of pokemon.types">{{ type.type.name }} </strong>
  </h1>

  <div class="info lead">
    <div class="abilities-info">
      <strong>abilities:</strong>
      <div *ngFor="let abil of pokemon.abilities">
        {{ abil.ability.name }}
      </div>
      <strong>Weight:</strong> {{ pokemon.weight }}<br />
      <strong>Height:</strong> {{ pokemon.height }}<br />
      <strong>Base exp:</strong> {{ pokemon.base_experience }}
    </div>
    <div class="standard-info">
      <div *ngFor="let stat of pokemon.stats">
        <strong>{{ stat.stat.name }}: {{ stat.base_stat }}</strong>
      </div>
    </div>
    <div class="moves-info">
      <strong>Moves:</strong>
      <div *ngFor="let move of pokemon.moves">
        {{ move.move.name }}
      </div>
    </div>
  </div>
</div>
